#-----------------------------
# XtraDB 5.5.x  my.cnf(master)
#-----------------------------

# The following options will be passed to all MySQL clients
[client]
port            = 3306
socket          = /var/xtradb/qualia/mysql.sock


#-----------------------------------------------------------
# The MySQL server
[mysqld]

port            = 3306
datadir         = /var/xtradb/qualia
socket          = /var/xtradb/qualia/mysql.sock
tmpdir          = /var/xtradb/tmp
user            = mysql

#-----------------------------
#          機能制御
#-----------------------------
skip-external-locking
skip-name-resolve
transaction-isolation=READ-COMMITTED

#-----------------------------
#      レプリケーション
#-----------------------------
server-id = 101

#-----------------------------
#            ログ
#-----------------------------
log-bin=/var/xtradb/logs/qualia/mysql-bin
binlog_format=MIXED
binlog_cache_size = 1M
sync_binlog=0
general_log=0
general_log_file=/var/xtradb/logs/qualia/general.log
slow_query_log=1
slow_query_log_file=/var/xtradb/logs/qualia/mysql-slow.log
long_query_time=1
expire_logs_days=30

#-----------------------------
#            言語
#-----------------------------
character-set-server=utf8
skip-character-set-client-handshake

#-----------------------------
#       ストレージエンジン
#-----------------------------
default-storage-engine=InnoDB

#-----------------------------
#         テンポラリ
#-----------------------------
max_heap_table_size = 32M
tmp_table_size = 32M

#-----------------------------
#            接続
#-----------------------------
max_connection = 3000
thread_cache_size = 3000
wait_timeout = 60

#-----------------------------
#     バッファ/キャッシュ
#-----------------------------
query_cache_type         = OFF
# query_cache_type         = 1
# query_cache_limit        = 1M
# query_cache_min_res_unit = 512
# query_cache_size         = 8M

table_open_cache = 5000  # 旧table_cache

sort_buffer_size = 4M
read_rnd_buffer_size = 2M

max_allowed_packet=64M

#-----------------------------
#          MyISAM
#-----------------------------
key_buffer_size = 32M
myisam_sort_buffer_size = 32M

#-----------------------------
#          InnoDB
#-----------------------------
innodb_file_per_table
innodb_file_format=Barracuda
innodb_open_files=3000
innodb_log_group_home_dir = /var/xtradb/files/qualia
innodb_data_home_dir      = /var/xtradb/qualia
# innodb_data_file_path     = ibdata1:2G:autoextend
innodb_data_file_path     = ibdata1:1G:autoextend
innodb_autoextend_increment = 32
# innodb_buffer_pool_size = 20G
innodb_buffer_pool_size = 256M
innodb_log_files_in_group = 2
# innodb_log_file_size = 2G
innodb_log_file_size = 32M
innodb_log_buffer_size = 32M
innodb_additional_mem_pool_size = 16M
innodb_flush_log_at_trx_commit = 1
innodb_support_xa = 1
innodb_flush_method = O_DIRECT
innodb_io_capacity = 1500
innodb_read_io_threads = 2
innodb_write_io_threads = 4
# innodb_thread_concurrency = 40
innodb_thread_concurrency = 0
innodb_buffer_pool_instances = 1
innodb_lock_wait_timeout = 50
innodb_stats_update_need_lock = 0
innodb_purge_threads = 1  #XtraDB default 1
# skip-innodb-doublewrite

#-- XtraDB for SSD
innodb_log_block_size = 4K
# innodb_adaptive_flushing_method = keep_average
# innodb_flush_neighbor_pages = none
# innodb_read_ahead = none
innodb_doublewrite_file = /var/xtradb/files/qualia/ib_doublewrite

#-----------------------------------------------------------

#--------------
# bug fix
#--------------
innodb_change_buffering=inserts

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
default-character-set=utf8
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit=65535
log-error=/var/xtradb/logs/qualia/mysql.err

